# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/CoolInterpreter.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/
cmp/__pycache__/
cmp/lexer/__pycache__/
cmp/parsers/__pycache__/
cool-manual.pdf
tests/code1.py
tests/qwq.py
.vscode/
